VITE_APP_I18N_LOCALE=en-US
VITE_APP_I18N_FALLBACK_LOCALE=en-US
VITE_APP_CACHE_MAX_AGE=3600
VITE_APP_BASE_URL=
VITE_APP_VIEW_SIZE=10
VITE_APP_PERMISSION_ID="RECEIVING_APP_VIEW"
VITE_APP_ALIAS={}
VITE_APP_DEFAULT_LOG_LEVEL="error"
VITE_APP_NOTIF_APP_ID=RECEIVING
VITE_APP_NOTIF_ENUM_TYPE_ID=NOTIF_RECEIVING
VITE_APP_FIREBASE_CONFIG={"apiKey": "","authDomain": "","databaseURL": "","projectId": "","storageBucket": "","messagingSenderId": "","appId": ""}
VITE_APP_FIREBASE_VAPID_KEY=""
VITE_APP_SHOPIFY_SHOP_CONFIG={"":  { "apiKey": "", "maarg": "" }}
VITE_DEFAULT_PRODUCT_STORE_SETTINGS={"PRDT_IDEN_PREF":{"stateKey":"productIdentifier.productIdentificationPref","value":{"primaryId":"SKU","secondaryId":"productId"}},"FULFILL_FORCE_SCAN":{"stateKey":"forceScan","value":"N"},"BARCODE_IDEN_PREF":{"stateKey":"barcodeIdentifier.barcodeIdentifierPref","value":"SKU"},"RECEIVE_BY_FULFILLMENT":{"stateKey":"receiveByFulfillment","value":"N"}}

